<li class="cell {{#enabled}}enabled{{/enabled}}" data-clue-value="{{clue_value}}">

<button class="button" type="button"><span class="label">${{label}} {{#clue_count}}<span class="count">({{clue_count}})</span>{{/clue_count}}</span></button>

</li>
