<div id="game-ui">

<div class="view placeholder" id="cfg"></div>


<div class="column" id="column-board">

<div class="view placeholder" id="board"></div>

</div>
<!-- #column-board -->


<div class="column" id="round-and-players">

<div class="section" id="section-round">

<h1 class="primary-section-heading">
{{round_label}}
</h1>

</div>
<!-- #section-round -->


<div class="section" id="section-players">

<h1 class="primary-section-heading">
Contestants
</h1>

<div class="view placeholder" id="players"></div>


<div class="add-player enabled">
<a href="">Add Contestant</a>
</div>

</div>
<!-- #section-players -->

</div>
<!-- .column#round-and-players -->


<div id="dialogs"></div>

</div>
<!-- #game-ui -->
