<div class="player {{has_control_class}}" id="player-{{cid}}">

<div class="name"><input type="text" name="player[][name]" class="name" value="{{name}}" /></div>

<div class="score">$<input type="number" name="player[][score]" class="score" value="{{score}}" /></div>

<div class="delete enabled"><a href="">Delete Contestant</a></div>

<div class="set-has-control"><a href="">Make Current</a></div>

</div>
<!-- .player -->
