<div class="dialog" id="dialog-clue">

<div class="prompt">
${{clue_value}}
</div>
<!-- .prompt -->


<button class="button right" type="button"><span class="label">Right</span></button>

<button class="button skip" type="button"><span class="label">Skip</span></button>

<button class="button wrong" type="button"><span class="label">Wrong</span></button>

<button class="button cancel" type="button"><span class="label">Cancel</span></button>

{{#daily_doubles_live}}
<button class="button daily-double" type="button"><span class="label">Daily Double</span></button>
{{/daily_doubles_live}}

</div>
<!-- #dialog-clue -->
