<div class="dialog" id="dialog-delete-player">

<div class="prompt">
{{prompt}}
</div>
<!-- .prompt -->

<button class="button yes" type="button"><span class="label">Yes</span></button>

<button class="button no" type="button"><span class="label">Cancel</span></button>

</div>
<!-- #dialog-delete-player -->
