<div class="dialog" id="dialog-end-game">

<div class="prompt">
{{prompt}}
</div>
<!-- .prompt -->

<a href="{{url}}" class="button"><span class="label">Yes</span></a>

<button class="button no" type="button"><span class="label">Cancel</span></button>

</div>
<!-- #dialog-end-game -->
