<div class="dialog" id="dialog-end-round">

<div class="prompt">
{{prompt}}
</div>
<!-- .prompt -->


<button class="button yes" type="button"><span class="label">Yes</span></button>

<button class="button no" type="button"><span class="label">Cancel</span></button>

</div>
<!-- #dialog-end-round -->
