<div class="dialog" id="dialog-final-jeopardy">

<div class="prompt">
Final Jeopardy
</div>
<!-- .prompt -->

<form id="final-jeopardy-form" autocomplete="off">

<table class="players-table">

<thead>

<tr>

<th scope="col" class="player">
Contestant
</th>

<th scope="col" class="score before">
Score
</th>

<th scope="col" class="wager">
Wager
</th>

<th scope="col" class="correct">
Correct
</th>

<th scope="col" class="score after">
Final Score
</th>

</tr>

</thead>


<tbody class="players">

</tbody>

</table>


<button type="button" class="button finish enabled"><span class="label">Calculate</span></button>

<button type="reset" class="button reset enabled"><span class="label">Reset Form</span></button>

<button type="button" class="button close enabled"><span class="label">End Game</span></button>

</form>

</div>
<!-- #dialog-final-jeopardy -->
